@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.toast {
    background-color: #B5FFA2;
    max-width: rem(438);
    font-family: $secondaryFontFamily;
    padding: rem(24) rem(16);
    border-radius: rem(32);
    position: relative;

    @media (max-width: $bp480) {
        width: 100%;
    } 

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: rem(84);
        height: rem(75);
        background-image: url('decor/decor1-success.svg');
        border-radius: 0 0 0 rem(32);
    }

    &::before {
        content: '';
        position: absolute;
        left: rem(19);
        top: rem(-42);
        width: rem(84);
        height: rem(75);
        background-image: url('decor/decor2-success.svg');
        background-repeat: no-repeat;
        border-radius: 0 0 0 rem(32);
    }

    &__close-icon {
        position: absolute;
        top: rem(24);
        right: rem(24);
        cursor: pointer;
    }

    &__text {
        max-width: rem(245);
        display: flex;
        flex-direction: column;
        font-size: rem(14);
        line-height: 1.6;
        margin: 0 rem(20) 0 rem(130);
        position: relative;
        z-index: 5;

        @media (max-width: $bp992) {
            margin: 0 rem(20) 0 rem(75);
        }

        span {
            font-weight: 500;
            font-size: rem(32);
            line-height: 1.2;
            letter-spacing: -0.035em;
            margin: 0 0 rem(4) 0;

            @media (max-width: $bp992) {
                font-size: rem(24);
            }
        }
    }

    &_error {
        background-color: #F64B3C;
        color: #FFFFFF;

        &::after {
            width: rem(93);
            height: rem(87);
            background-image: url('decor/decor1-error.svg');
        }

        &::before {
            width: rem(78);
            height: rem(78);
            background-image: url('decor/decor2-error.svg');
        }
    }

    &_error &__text {
        @media (max-width: $bp992) {
           margin: 0 rem(35) 0 rem(55); 
        }
    }
}