@import '../../scss/variables.scss';

.modal-toast {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    overflow: auto;
    transition: all linear 0.2s;

    &_active {
        opacity: 1;
    }

    &__content {
        margin: 0 40px 104px 0;

        @media (max-width: $bp992) {
            margin: 0 40px 104px 0;
        }

        @media (max-width: $bp480) {
            margin: 0 16px 104px 16px;
        }

        &_active {
            pointer-events: all;
        }
    }
}