@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.about {
    position: relative;
    z-index: 2;
    padding: rem(93) 0 rem(120) 0;

    @media (max-width: $bp992) {
        padding: rem(55) 0 rem(66) 0;
    }

    @media (max-width: $bp768) {
        padding: rem(43) 0 rem(57) 0;
    }

    &__title {
        font-family: $secondaryFontFamily;
        max-width: rem(1157);
        font-size: rem(124);
        line-height: 1.2;
        letter-spacing: -0.0124em;
        font-weight: 500;
        color: $white;
        margin: 0 0 rem(88) 0;

        @media (max-width: em(1140)) {
            font-size: rem(100);
        }

        @media (max-width: $bp992) {
            font-size: rem(80);
            margin: 0 0 rem(55) 0;
        }

        @media (max-width: $bp768) {
            margin: 0 0 rem(64) 0;
            font-size: rem(65);
        }

        @media (max-width: em(420)) {
            font-size: rem(48);
        }
    }
}